<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/shop-info.css">
  <title>User Shop Reserve</title>
</head>
<body>
<div id="default">
  <div id="container">
    <div class="contents">
      <div class="title">
        <a href="/user/home" id="home">Goo's Reservation</a>
        <div class="member-wrap">
          <div class="is-login" sec:authorize="hasRole('USER')">
            <a href="/user/my" sec:authentication="principal.nickname"></a>
            <p>고객님</p>
            <span> | </span>
            <a href="/logout">로그아웃</a>
          </div>
          <div class="is-logout" sec:authorize="hasRole('OWNER') or isAnonymous()">
            <a href="/join">회원가입</a>
            <span> | </span>
            <a href="/login">로그인</a>
          </div>
        </div>
      </div>
      <th:block th:with="year=${days.year}, month=${days.month}">
        <p class="intro" th:text="${year + '년 ' + month + '월'}"></p>
        <p class="intro">원하시는 날짜를 선택하세요.</p>
        <form action="/user/shop/reserv.proc2" method="post">
          <div class="selector">
            <select name="day" th:with="lastdays=${lastDays}">
              <th:block th:each="i : ${#numbers.sequence(1, lastDays)}">
                <option name="day" th:value="${i}" th:text="${i}"></option>
              </th:block>
            </select>
          </div>
          <input type="hidden" name="year" th:value="${year}">
          <input type="hidden" name="month" th:value="${month}">
          <input type="hidden" name="shopId" th:value="${days.shopId}">
          <button type="submit">다음</button>
        </form>
      </th:block>
      
      <div class="move">
        <a th:href="@{/user/shop/reserv(shopId=${days.shopId})}">👈이전</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>