<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/shop-info.css">
  <title>Owner Shop Details</title>
</head>
<body>
<div id="default">
  <div id="container">
    <div class="contents">
      <div class="title" id="owner-title">
        <a href="/owner/home" id="home">Goo's Reservation</a>
        <div class="member-wrap">
          <div class="is-login" sec:authorize="hasRole('OWNER')">
            <a href="/owner/my" sec:authentication="name"></a>
            <p>점장님</p>
            <span> | </span>
            <a href="/owner/logout">로그아웃</a>
          </div>
          <div class="is-logout" sec:authorize="hasRole('USER') or isAnonymous()">
            <a href="/owner/join">회원가입</a>
            <span> | </span>
            <a href="/owner/login">로그인</a>
          </div>
        </div>
      </div>
      <p class="intro">매장 정보를 성공적으로 수정했습니다!</p>
      <div class="shop-details">
        <div class="text-filed">
          <div class="input-box">
            <input id="shop-name" type="text" name="shopName" th:value="${shopInfo.shopName}" readonly/>
            <label for="shop-name" class="label">매장상호명</label>
          </div>
        </div>
        <div class="text-filed" id="place">
          <div class="input-box">
            <input id="address1" type="text" name="address1" th:value="${shopInfo.address1}" readonly/>
            <label for="address1" class="label">도로명주소</label>
          </div>
          <div class="input-box">
            <input id="address2" type="text" name="address2" th:value="${shopInfo.address2}" readonly/>
            <label for="address2" class="label">상세주소</label>
          </div>
        </div>
        <div class="text-filed" id="time">
          <div class="input-box">
            <input id="open" type="text" name="open" th:value="${shopInfo.open + '시'}" readonly/>
            <label for="open" class="label">예약 오픈 시각</label>
          </div>
          <div class="input-box">
            <input id="close" type="text" name="close" th:value="${shopInfo.close - 2 + '시 50분'}" readonly/>
            <label for="close" class="label">예약 마감 시각</label>
            <p class="example">마감시각에 예약할 경우 최대 1시간 예약가능</p>
          </div>
        </div>
        <div class="text-filed">
          <div class="input-box">
            <textarea id="explain" name="shopExplain" cols="30" rows="10" th:text="${shopInfo.shopExplain}" readonly></textarea>
            <label id="explain_label" for="explain" class="label">매장설명</label>
          </div>
        </div>
        <div class="move">
          <div class="move">
            <a th:href="@{/owner/shop/{shopId}(shopId=${shopInfo.shopId})}">뒤로가기</a>
            <a th:href="@{/owner/shop/edit(shopId=${shopInfo.shopId})}">정보 수정하기</a>
            <form th:action="@{/owner/shop/deleteProc}" method="post">
              <input type="hidden" name="shopId" th:value="${shopInfo.shopId}">
              <button type="submit">매장 삭제하기</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>