<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/select.css">
  <title>Owner Shop Service</title>
</head>
<body>
<div id="default">
  <div id="container">
    <div class="contents">
      <div class="title" id="owner-title">
        <a href="/owner/home" id="home">Goo's Reservation</a>
        <div class="member-wrap">
          <div class="is-login" sec:authorize="hasRole('OWNER')">
            <a href="/owner/my" sec:authentication="name"></a>
            <p>점장님</p>
            <span> | </span>
            <a href="/owner/logout">로그아웃</a>
          </div>
          <div class="is-logout" sec:authorize="isAnonymous()">
            <a href="/owner/join">회원가입</a>
            <span> | </span>
            <a href="/owner/login">로그인</a>
          </div>
        </div>
      </div>
      
      <div class="service-boxes">
        <div class="box-wrap" th:onclick="|location.href='@{|/owner/shop/${shopId}/info|}'|">
          <div class="box-contents">
            <div class="box-name">
              <p>정보 관리 서비스</p>
            </div>
            <div class="summary">
              <p>
                매장의 상세정보를 확인하고 <br />수정 또는 삭제할 수 있어요.
              </p>
            </div>
          </div>
        </div>
        <div class="box-wrap" th:onclick="|location.href='@{|/owner/shop/${shopId}/reserve|}'|">
          <div class="box-contents">
            <div class="box-name">
              <p>예약 관리 서비스</p>
            </div>
            <div class="summary">
              <p>
                예약 현황을 확인하고 <br />예약을 승인 또는 거부할 수 있어요.
              </p>
            </div>
          </div>
        </div>
        <div class="box-wrap" th:onclick="|location.href='@{|/owner/shop/${shopId}/review|}'|">
          <div class="box-contents">
            <div class="box-name">
              <p>리뷰 관리 서비스</p>
            </div>
            <div class="summary">
              <p>
                리뷰 현황을 확인하고 <br />부적절한 리뷰는 삭제할 수 있어요.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>