@import "default.css";

.intro {
    font-size: 20px;
    margin: 10px;
}

.shop-list {
    margin-top: 20px;
    width: 506px;
    height: fit-content;
}

.shop-wrap {
    width: 500px;
    background-color: #cbcaca;
    border-radius: 20px;
    overflow: hidden;
    margin: 2px 2px 15px 2px;
    box-shadow: 2px 2px 2px #9f9e9e;
    cursor: pointer;
}

.shop-wrap:hover {
    margin: 2px 0 12px 0;
    border: 2px solid black;
    box-shadow: 0 1px 2px #9f9e9e;
}

.shop-contents {
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.shop-name {
    color: white;
    padding: 10px;
    font-size: 18pt;
    width: 100%;
    background-color: #9f5496;
}

.summary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.stars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.stars .icon-star {
    font-size: 14pt;
    margin-right: 2px;
}

.stars .stars-value {
    font-size: 12pt;
    font-weight: bold;
}

.review-count {
    display: flex;
}

#review-count {
    margin-left: 5px;
}

.review-count p {
    font-size: 12pt;
}


.move {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.move a {
    margin: 20px;
    color: darkslategray;
    border: none;
    font-size: 10pt;
    background-color: transparent;
    padding: 0;
}

.move a:hover {
    border-bottom: 1px solid darkslategray;
}

