@import url(reset.css);

@font-face {
    font-family: "BMDOHYEON";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff")
    format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "GmarketSansMedium", sans-serif;
    background: #f6f5f7;
    padding-top: 90px;
    display: flex;
    align-items: center;
    flex-direction: column;
    letter-spacing: 0.7px;
    height: 100vh;
}

#default {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 20px;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: #6a6f4c;
}

#owner-title {
    background-color: #d96161;
}

a {
    text-decoration: none;
    color: white;
}

#home {
    text-decoration: none;
    font-family: "BMDOHYEON", sans-serif;
    font-size: 30px;
}

.member-wrap {
    font-size: 16px;
}

.is-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.is-login p {
    color: beige;
    padding-top: 3px;
    font-size: 9pt;
}

.member-wrap a:hover {
    margin-top: 0;
    border-bottom: 1px solid white;
}

.member-wrap span {
    color: #cbcaca;
    margin: 8px;
}

.intro {
    font-size: 20px;
    margin: 10px;
}

.shop-list {
    margin-top: 20px;
    width: 506px;
    height: fit-content;
}

.shop-wrap {
    width: 500px;
    background-color: #cbcaca;
    border-radius: 20px;
    overflow: hidden;
    margin: 3px 3px 15px 3px;
    box-shadow: 2px 2px 4px #9f9e9e;
    cursor: pointer;
}

.shop-wrap:hover {
    margin: 0 0 12px 0;
    border: 3px solid black;
}

.shop-contents {
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.shop-name {
    color: white;
    padding: 10px;
    font-size: 18pt;
    width: 100%;
    background-color: #9f5496;
}

.summary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.stars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.stars .icon-star {
    font-size: 14pt;
    margin-right: 2px;
}

.stars .stars-value {
    font-size: 12pt;
    font-weight: bold;
}

.review-count {
    display: flex;
}

#review-count {
    margin-left: 5px;
}

.review-count p {
    font-size: 12pt;
}
