<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/css/home.css" />
  <title>Owner Home</title>
</head>
<body>
<div id="default">
  <div id="container">
    <div class="contents">
      <div class="title" id="owner-title">
        <a href="/owner/home" id="home">Goo's Reservation</a>
        <div class="member-wrap">
          <div class="is-login" sec:authorize="hasRole('OWNER')">
            <a href="/owner/my" sec:authentication="name"></a>
            <p>점장님</p>
            <span> | </span>
            <a href="/owner/logout">로그아웃</a>
          </div>
          <div class="is-logout" sec:authorize="isAnonymous()">
            <a href="/owner/join">회원가입</a>
            <span> | </span>
            <a href="/owner/login">로그인</a>
          </div>
        </div>
      </div>
      <div class="search-box">
        <form action="" method="get" name="searchForm">
          <div class="icon" id="owner-icon"></div>
          <input type="text" id="search-input" />
        </form>
      </div>
      <div class="dir-selector" id="owner-dir-selector">
        <div class="selector-wrap">
          <p>거리순</p>
        </div>
        <div class="selector-wrap">
          <p>별점순</p>
        </div>
        <div class="selector-wrap">
          <p>가나다순</p>
        </div>
        <div class="selector-wrap" id="add-button">
          <a href="/owner/shop/add">매장 등록하러 가기 👉🏻👉🏻</a>
        </div>
      </div>
      <div class="shop-box">
        <div class="shop-list">
          <a href="" class="shop-ele">
            <p class="ele-title">대박가게</p>
            <div class="ele-summary">
              <div class="stars">
                <div class="icon-star">⭐️</div>
                <div class="stars-value">2.6</div>
              </div>
              <div class="review-count">
                <p>리뷰</p>
                <p id="review-count"></p>
                <p>개</p>
              </div>
              <div class="location">
                <p>구의로 9길 17</p>
                <p>202호</p>
              </div>
            </div>
          </a>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
