<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/css/home.css" />
  <title>Owner Home</title>
</head>
<body>
<div id="default">
  <div id="container">
    <div class="contents">
      <div class="title" id="owner-title">
        <a href="/owner/home" id="home">Goo's Reservation</a>
        <div class="member-wrap">
          <div class="is-login" sec:authorize="hasRole('OWNER')">
            <a href="/owner/my" th:text="${name}">구구구</a>
            <p>점장님</p>
            <span> | </span>
            <a href="/owner/logout">로그아웃</a>
          </div>
          <div class="is-logout" sec:authorize="isAnonymous()">
            <a href="/owner/join">회원가입</a>
            <span> | </span>
            <a href="/owner/login">로그인</a>
          </div>
        </div>
      </div>
      <div class="search-box" id="owner-search-box">
        <form action="" method="get" name="searchForm">
          <div id="owner-icon" class="icon"></div>
          <input type="text" id="search-input" />
        </form>
      </div>
      <div class="add-button-wrap">
        <a href="/owner/shop/add">매장 등록하러 가기 👉🏻👉🏻</a>
      </div>
      <div class="list-wrap">
        <div class="list-title"></div>
        <div class="list"></div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
