<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/my-shop.css">
  <title>Owner My Page</title>
</head>
<body>
<div id="default">
  <div id="container">
    <div class="contents">
      <div class="title" id="owner-title">
        <a href="/owner/home" id="home">Goo's Reservation</a>
        <div class="member-wrap">
          <div class="is-login" sec:authorize="hasRole('OWNER')">
            <a href="/owner/my" sec:authentication="name"></a>
            <p>점장님</p>
            <span> | </span>
            <a href="/owner/logout">로그아웃</a>
          </div>
          <div class="is-logout" sec:authorize="hasRole('USER') or isAnonymous()">
            <a href="/owner/join">회원가입</a>
            <span> | </span>
            <a href="/owner/login">로그인</a>
          </div>
        </div>
      </div>
      <p class="intro">점장님의 매장 리스트</p>
      <div class="intro" th:if="${list.size} == '0'">아직 등록된 매장이 없습니다.</div>
      <div class="shop-list">
        <div class="shop-wrap" th:onclick="|location.href='@{|/owner/shop/${x.shopId}|}'|" th:each="x : ${list}">
          <div class="shop-contents">
            <div class="shop-name" th:text="${x.shopName}">
              <p></p>
            </div>
            <div class="summary">
              <div class="stars">
                <div class="icon-star">⭐️</div>
                <div class="stars-value" th:if="${x.reviewCount} == '0'" th:text="0.0"></div>
                <div class="stars-value" th:unless="${x.reviewCount} == '0'" th:text="${x.stars} / ${x.reviewCount}"></div>
              </div>
              <div class="review-count">
                <p>리뷰</p>
                <p id="review-count" th:text="${x.reviewCount}"></p>
                <p>개</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>